@media(max-width: 1280px) {
    .home {
      flex-direction: column;
      align-items: center;
      margin: 50px 0;
      gap: 30px;
    }
  
    .home .informacoes {
      max-width: 100%;
      text-align: center;
      align-items: center;
    }
    
    .projetos .container-projetos {
      padding: 0 30px;
    }
  
    .cabecalho {
      padding: 30px;
    }
  }
  
  @media(max-width: 425px) {
    .home .informacoes h1 {
      font-size: 30px;
    }
  
    .home .informacoes p {
      font-size: 16px;
    }
  
    .home .container-foto img {
        max-width: 320px;
    }
  
    .projetos {
      padding: 30px;
    }
  }

 /* Estilos para telas ainda menores, como smartphones */
@media only screen and (max-width: 480px) {
  .container-foto .foto {
    width: 70%;
    max-width: 320px; /* Define um limite máximo para a largura */
    height: auto; /* Permite que a altura seja ajustada proporcionalmente */
}
}
